.card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 100px;

}

/* act as class using the ng modules */

.blue {
    background-color: rgb(173, 173, 211);
}

.red {
    background-color: rgb(223, 142, 142);
}

.green {
    background-color: rgb(175, 238, 177);
}

.orange {
    background-color: rgb(235, 198, 131);
}