<mat-list role="list">
    

<div class="profile-card">
    <img  src="https://hips.hearstapps.com/hmg-prod/images/4e9a7794-1663012415.jpg?resize=2048:*" alt="">
</div>
<h3>Admin</h3>
<h4>abc@gmail.com</h4>

<h4 >Pages</h4>

<mat-divider></mat-divider>
    <a mat-list-item routerLink="list-item-active" routerLink="/">Dashboard</a>

    <mat-divider></mat-divider>
    <a mat-list-item routerLink="list-item-active" routerLink="/">Institutions</a>

    <mat-divider></mat-divider>
    <a mat-list-item routerLink="list-item-active" routerLink="/">Placement</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="list-item-active" routerLink="/">Statitics</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="list-item-active" routerLink="/">Course</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="list-item-active" routerLink="/">Employee</a>
    
  </mat-list>
  