<!-- header -->
<app-header (isSidebarToggle)="isSidebarToggle()"></app-header>


<!-- dashboard -->
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="sideBar">
    <!-- side bar -->
    <app-side-nav></app-side-nav></mat-drawer>
  <mat-drawer-content>
    <!-- dashboard -->
    <app-dashboard></app-dashboard></mat-drawer-content>
</mat-drawer-container>



<!-- divider -->
<mat-divider></mat-divider>
<!-- divider -->


<!-- footer -->
<app-footer></app-footer>
<router-outlet></router-outlet>